@font-face {
  font-family: 'Basier Circle Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/BasierCircle-Regular.woff');
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Basier Circle Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/BasierCircle-Medium.woff');
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Basier Circle Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/BasierCircle-SemiBold.woff');
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Basier Circle Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/BasierCircle-Bold.woff');
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  unicode-range: U+000-5FF;
}
